.flex {
    display: flex;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.title-height {
    height: 54px;
}

.title-item {
    max-height: 40px;
}

.margin-left {
    margin-left: 1em;
}

.center-off-axis {
    align-self: center;
}

.margin-top {
    margin-top: 1em;
}

.margin-bottom {
    margin-bottom: 1em;
}

.mask-round {
    border-radius: 50%;
}

.small-pic {
    height: 130px;
}

.subscript {
    font-size: 10px;
    font-style: italic;
}

.about-content {
    display: flex;
    flex-flow: column;
    /* justify-items: center; */
    width: 600px;
}

.location {
    align-self: flex-end;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.viewport {
    object-fit: cover;
    border-radius: 5px;
    height: 200px;
    width: 600px;
}

.grow {
    flex: 1;
}

.grow-more {
    flex: 2;
}

.grey-text {
    color: #828282;
}

.large-text {
    font-size: 1.1em;
}

.vertical-items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-between-vertical {
    align-items: space-between;
}

.subtext {
    color: #828282;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
    top: 0.5em;
}

.margin-left {
    margin-left: 0.5em;
}

.margin-top {
    margin-top: 0.5em;
}

.no-list {
    list-style-type: none;
}

.thin-width {
    max-width: 800px;
}

/* Tooltip container */

.tooltip {
    /* color: #828282; */
    text-decoration: none;
    border-bottom: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 240, 174) 100%);
    border-radius: 3px;
    padding-left: 2px;
    right: 0;
}

/* Tooltip text */

[data-tooltip] {
    position: relative;
}

[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    background-color: rgba(240, 240, 255);
    color: #474747;
    z-index: 1;
    font-size: small;
    font-family: monospace;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    position: absolute;
    text-decoration: none;
    right: auto;
    bottom: auto;
    transform: translateX(-50%) scale(1) !important;
    left: 50%;
    top: 100%;
    min-width: 300px;
    margin: 0.3em;
}
