.avatar {
    border-radius: 50%;
    height: 150px;
}

table {
    margin-left: auto;
}

.attribute-to {
    font-size: 10px;
    font-style: italic;
}

table td {
    border: none;
    vertical-align: top;
    text-align: center;
}