.title-image-container {
    display: flex;
    height: 54px;
}

.title-image-container div {
    align-self: center;
    vertical-align: center;
}

.title-image {
    margin-left: 1em;
    height: 40px;
}