---
---

@import "{{ site.theme }}";

pre, code {
    background: transparent;
    border: none;
}

.wrapper {
    max-width: -webkit-calc(1000px - (30px * 2));
    max-width: calc(1000px - (30px * 2));
}