/*tags*/

html {
	font-size: 10px;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	width: auto;
	min-width: 600px;
	padding-top: 60px;
	padding-bottom: 60px;
}

section {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
	padding: 0 20px 20px 20px;
}

pre {
	max-width: 800px;
	margin: 0px auto;
}
code {
	font-size: initial;
	margin: 10px auto;
}

img {
	display: block;
	margin: 0 auto;
}

h1 {
	font-size: 60px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
}

h2 {
	font-size: 24px;
	text-align: center;
}

/*classes*/

.blurb {
	max-width: 600px;
	margin: 20px auto;
}

.float-text {
	max-width: 800px;
	margin: 20px auto;
	text-align: center;
}

.footer {
	background: black;
	color: white; 
	position: fixed;
	bottom: 0;
	/* Set the fixed height of the footer here */
	height: 60px;
	width: 100%;
}

/*elements*/

#mainImage {
    width:350px;
    height:auto;
}

#bannerImage {
	margin: 0px auto;
}

#blueParagraph {
	color: blue;
}

#ninjaTag {
	color: inherit;
	text-decoration: inherit;
}


